In [1]:
import os
import pandas as pd

In [2]:
df = pd.read_csv (r'/Users/ultimate/codeup-data-science/pet_projects/SeriesReport-20220629131038_baccca.xlsx - BLS Data Series.csv')
print (df)

   CPI Average Price Data, U.S. city average (AP)  \
0                             Original Data Value
1                                             NaN
2                                      Series Id:
3                                   Series Title:
4                                           Area:
5                                           Item:
6                                          Years:
7                                             NaN
8                                            Year
9                                            1991
10                                           1992
11                                           1993
12                                           1994
13                                           1995
14                                           1996
15                                           1997
16                                           1998
17                                           1999
18                                           2000
19                                           2002
20                                           2003
21                                           2004
22                                           2005
23                                           2006
24                                           2007
25                                           2008
26                                           2009
27                                           2010
28                                           2011
29                                           2012
30                                           2013
31                                           2014
32                                           2015
33                                           2016
34                                           2017
35                                           2018
36                                           2019
37                                           2020
38                                           2021

                                           Unnamed: 1 Unnamed: 2 Unnamed: 3  \
0                                                 NaN        NaN        NaN
1                                                 NaN        NaN        NaN
2                                       APU0000701312        NaN        NaN
3   Rice, white, long grain, uncooked, per lb. (45...        NaN        NaN
4                                   U.S. city average        NaN        NaN
5   Rice, white, long grain, uncooked, per lb. (45...        NaN        NaN
6                                        1991 to 2021        NaN        NaN
7                                                 NaN        NaN        NaN
8                                                 Jan        Feb        Mar
9                                               0.494      0.492      0.498
10                                              0.516      0.515      0.515
11                                              0.526      0.530      0.525
12                                              0.515      0.543      0.556
13                                              0.523      0.518      0.511
14                                              0.552      0.552      0.556
15                                              0.560      0.565      0.564
16                                              0.546      0.547      0.545
17                                              0.551      0.540      0.544
18                                              0.499      0.492      0.481
19                                                NaN        NaN        NaN
20                                              0.441      0.447      0.440
21                                              0.482      0.487      0.504
22                                              0.597      0.575      0.570
23                                              0.532      0.534      0.534
24                                              0.563      0.554      0.548
25                                              0.568      0.583      0.584
26                                              0.797      0.783      0.774
27                                              0.754      0.759      0.764
28                                              0.742      0.747      0.745
29                                              0.739      0.718      0.700
30                                              0.715      0.708      0.714
31                                              0.731      0.732      0.733
32                                              0.692      0.689      0.670
33                                              0.709      0.707      0.711
34                                              0.700      0.695      0.692
35                                              0.682      0.691      0.682
36                                              0.730      0.762      0.757
37                                              0.716      0.734      0.733
38                                              0.794      0.779      0.772

   Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  \
0         NaN        NaN        NaN        NaN        NaN        NaN
1         NaN        NaN        NaN        NaN        NaN        NaN
2         NaN        NaN        NaN        NaN        NaN        NaN
3         NaN        NaN        NaN        NaN        NaN        NaN
4         NaN        NaN        NaN        NaN        NaN        NaN
5         NaN        NaN        NaN        NaN        NaN        NaN
6         NaN        NaN        NaN        NaN        NaN        NaN
7         NaN        NaN        NaN        NaN        NaN        NaN
8         Apr        May        Jun        Jul        Aug        Sep
9       0.502      0.502      0.506      0.503      0.494      0.506
10      0.522      0.524      0.520      0.540      0.537      0.542
11      0.522      0.518      0.518      0.527      0.507      0.494
12      0.575      0.562      0.555      0.566      0.546      0.534
13      0.515      0.518      0.518      0.519      0.526      0.523
14      0.538      0.548      0.537      0.537      0.541      0.540
15      0.558      0.563      0.558      0.564      0.569      0.564
16      0.544      0.541      0.536      0.540      0.536      0.544
17      0.548      0.551      0.553      0.550      0.557      0.547
18      0.490        NaN        NaN        NaN        NaN        NaN
19        NaN      0.472      0.470      0.475      0.482      0.471
20      0.440      0.429      0.428      0.451      0.454      0.461
21      0.503      0.528      0.538      0.560      0.556      0.565
22      0.584      0.552      0.547      0.553      0.532      0.544
23      0.538      0.549      0.549      0.561      0.565      0.550
24      0.556      0.544      0.529      0.547      0.551      0.546
25      0.608      0.704      0.753      0.795      0.854      0.853
26      0.757      0.773      0.766      0.756      0.752      0.760
27      0.759      0.746      0.739      0.749      0.743      0.723
28      0.734      0.767      0.755      0.716      0.715      0.719
29      0.696      0.677      0.681      0.681      0.683      0.684
30      0.724      0.702      0.723      0.721      0.737      0.741
31      0.750      0.739      0.742      0.758      0.737      0.746
32      0.670      0.676      0.691      0.673      0.669      0.662
33      0.703      0.747      0.734      0.740      0.729      0.721
34      0.686      0.726      0.752      0.764      0.753      0.741
35      0.685      0.698      0.689      0.690      0.705      0.693
36      0.767      0.761      0.801      0.798      0.793      0.797
37        NaN      0.748      0.749      0.772      0.769      0.777
38      0.785      0.801      0.778      0.782      0.784      0.798

   Unnamed: 10 Unnamed: 11 Unnamed: 12
0          NaN         NaN         NaN
1          NaN         NaN         NaN
2          NaN         NaN         NaN
3          NaN         NaN         NaN
4          NaN         NaN         NaN
5          NaN         NaN         NaN
6          NaN         NaN         NaN
7          NaN         NaN         NaN
8          Oct         Nov         Dec
9        0.508       0.517       0.510
10       0.543       0.536       0.525
11       0.495       0.490       0.495
12       0.534       0.541       0.534
13       0.535       0.535       0.553
14       0.555       0.552       0.546
15       0.568       0.572       0.575
16       0.542       0.539       0.543
17       0.511       0.488       0.502
18         NaN         NaN         NaN
19       0.466       0.461       0.458
20       0.463       0.490       0.482
21       0.569       0.572       0.572
22       0.541       0.530       0.524
23       0.568       0.555       0.555
24       0.555       0.544       0.551
25       0.856       0.820       0.813
26       0.751       0.768       0.751
27       0.714       0.710       0.728
28       0.767       0.752       0.729
29       0.685       0.704       0.714
30       0.734       0.729       0.735
31       0.723       0.717       0.700
32       0.690       0.732       0.711
33       0.697       0.703       0.693
34       0.723       0.712       0.711
35       0.685       0.711       0.712
36       0.773       0.721       0.714
37       0.766       0.791       0.789
38       0.788       0.844       0.820

In [3]:
df

,"CPI Average Price Data, U.S. city average (AP)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,Original Data Value,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Series Id:,APU0000701312,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Series Title:,"Rice, white, long grain, uncooked, per lb. (45...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Area:,U.S. city average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Item:,"Rice, white, long grain, uncooked, per lb. (45...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Years:,1991 to 2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
9,1991,0.494,0.492,0.498,0.502,0.502,0.506,0.503,0.494,0.506,0.508,0.517,0.510
10,1992,0.516,0.515,0.515,0.522,0.524,0.520,0.540,0.537,0.542,0.543,0.536,0.525
11,1993,0.526,0.530,0.525,0.522,0.518,0.518,0.527,0.507,0.494,0.495,0.490,0.495
12,1994,0.515,0.543,0.556,0.575,0.562,0.555,0.566,0.546,0.534,0.534,0.541,0.534
13,1995,0.523,0.518,0.511,0.515,0.518,0.518,0.519,0.526,0.523,0.535,0.535,0.553
14,1996,0.552,0.552,0.556,0.538,0.548,0.537,0.537,0.541,0.540,0.555,0.552,0.546
15,1997,0.560,0.565,0.564,0.558,0.563,0.558,0.564,0.569,0.564,0.568,0.572,0.575
16,1998,0.546,0.547,0.545,0.544,0.541,0.536,0.540,0.536,0.544,0.542,0.539,0.543
17,1999,0.551,0.540,0.544,0.548,0.551,0.553,0.550,0.557,0.547,0.511,0.488,0.502
18,2000,0.499,0.492,0.481,0.490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2002,NaN,NaN,NaN,NaN,0.472,0.470,0.475,0.482,0.471,0.466,0.461,0.458
20,2003,0.441,0.447,0.440,0.440,0.429,0.428,0.451,0.454,0.461,0.463,0.490,0.482
21,2004,0.482,0.487,0.504,0.503,0.528,0.538,0.560,0.556,0.565,0.569,0.572,0.572
22,2005,0.597,0.575,0.570,0.584,0.552,0.547,0.553,0.532,0.544,0.541,0.530,0.524
23,2006,0.532,0.534,0.534,0.538,0.549,0.549,0.561,0.565,0.550,0.568,0.555,0.555
24,2007,0.563,0.554,0.548,0.556,0.544,0.529,0.547,0.551,0.546,0.555,0.544,0.551
25,2008,0.568,0.583,0.584,0.608,0.704,0.753,0.795,0.854,0.853,0.856,0.820,0.813
26,2009,0.797,0.783,0.774,0.757,0.773,0.766,0.756,0.752,0.760,0.751,0.768,0.751
27,2010,0.754,0.759,0.764,0.759,0.746,0.739,0.749,0.743,0.723,0.714,0.710,0.728
28,2011,0.742,0.747,0.745,0.734,0.767,0.755,0.716,0.715,0.719,0.767,0.752,0.729
29,2012,0.739,0.718,0.700,0.696,0.677,0.681,0.681,0.683,0.684,0.685,0.704,0.714
30,2013,0.715,0.708,0.714,0.724,0.702,0.723,0.721,0.737,0.741,0.734,0.729,0.735
31,2014,0.731,0.732,0.733,0.750,0.739,0.742,0.758,0.737,0.746,0.723,0.717,0.700
32,2015,0.692,0.689,0.670,0.670,0.676,0.691,0.673,0.669,0.662,0.690,0.732,0.711
33,2016,0.709,0.707,0.711,0.703,0.747,0.734,0.740,0.729,0.721,0.697,0.703,0.693
34,2017,0.700,0.695,0.692,0.686,0.726,0.752,0.764,0.753,0.741,0.723,0.712,0.711
35,2018,0.682,0.691,0.682,0.685,0.698,0.689,0.690,0.705,0.693,0.685,0.711,0.712
36,2019,0.730,0.762,0.757,0.767,0.761,0.801,0.798,0.793,0.797,0.773,0.721,0.714
37,2020,0.716,0.734,0.733,NaN,0.748,0.749,0.772,0.769,0.777,0.766,0.791,0.789
38,2021,0.794,0.779,0.772,0.785,0.801,0.778,0.782,0.784,0.798,0.788,0.844,0.820