In [1]:
import os
import pandas as pd

Retrieved from International Monetary Fund, Global price of Food index [PFOODINDEXM], retrieved from FRED, Federal Reserve Bank of St. Louis; https://fred.stlouisfed.org/series/PFOODINDEXM, June 29, 2022

In [2]:
df = pd.read_csv (r'/Users/ultimate/codeup-data-science/pet_projects/cu-income-before-taxes-2020.xlsx - Table 1203.csv')
print (df)

    Table 1203. Income before taxes: Annual expenditure means, shares, standard errors, and coefficients of variation, Consumer Expenditure Surveys, 2020  \
0                                                  NaN
1                                                 Item
2          Number of consumer units (in thousands) a/
3                                                  NaN
4                       Consumer unit characteristics:
..                                                 ...
686  # Data collection for this item began in June ...
687                                                NaN
688                                                NaN
689                                                NaN
690  Source: Consumer Expenditure Surveys, U.S. Bur...

               Unnamed: 1           Unnamed: 2            Unnamed: 3  \
0                     NaN                  NaN                   NaN
1    All\nconsumer\nunits  Less\nthan\n$15,000  $15,000\nto\n$29,999
2                 131,234               13,714                19,663
3                     NaN                  NaN                   NaN
4                     NaN                  NaN                   NaN
..                    ...                  ...                   ...
686                   NaN                  NaN                   NaN
687                   NaN                  NaN                   NaN
688                   NaN                  NaN                   NaN
689                   NaN                  NaN                   NaN
690                   NaN                  NaN                   NaN

               Unnamed: 4            Unnamed: 5            Unnamed: 6  \
0                     NaN                   NaN                   NaN
1    $30,000\nto\n$39,999  $40,000\nto\n$49,999  $50,000\nto\n$69,999
2                  12,848                11,274                16,684
3                     NaN                   NaN                   NaN
4                     NaN                   NaN                   NaN
..                    ...                   ...                   ...
686                   NaN                   NaN                   NaN
687                   NaN                   NaN                   NaN
688                   NaN                   NaN                   NaN
689                   NaN                   NaN                   NaN
690                   NaN                   NaN                   NaN

               Unnamed: 7              Unnamed: 8              Unnamed: 9  \
0                     NaN                     NaN                     NaN
1    $70,000\nto\n$99,999  $100,000\nto\n$149,999  $150,000\nto\n$199,999
2                  19,678                  18,849                   8,336
3                     NaN                     NaN                     NaN
4                     NaN                     NaN                     NaN
..                    ...                     ...                     ...
686                   NaN                     NaN                     NaN
687                   NaN                     NaN                     NaN
688                   NaN                     NaN                     NaN
689                   NaN                     NaN                     NaN
690                   NaN                     NaN                     NaN

             Unnamed: 10
0                    NaN
1    $200,000\nand\nmore
2                 10,188
3                    NaN
4                    NaN
..                   ...
686                  NaN
687                  NaN
688                  NaN
689                  NaN
690                  NaN

[691 rows x 11 columns]

In [3]:
df

,"Table 1203. Income before taxes: Annual expenditure means, shares, standard errors, and coefficients of variation, Consumer Expenditure Surveys, 2020",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Item,All\nconsumer\nunits,"Less\nthan\n$15,000","$15,000\nto\n$29,999","$30,000\nto\n$39,999","$40,000\nto\n$49,999","$50,000\nto\n$69,999","$70,000\nto\n$99,999","$100,000\nto\n$149,999","$150,000\nto\n$199,999","$200,000\nand\nmore"
2,Number of consumer units (in thousands) a/,"131,234","13,714","19,663","12,848","11,274","16,684","19,678","18,849","8,336","10,188"
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Consumer unit characteristics:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
686,# Data collection for this item began in June ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
687,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
688,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
689,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
690,"Source: Consumer Expenditure Surveys, U.S. Bur...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
import pandas as pd
df = pd.read_excel('https://query.data.world/s/dd57isgbmc4yw6gq47qifvnqt64prs')

The Office of Postsecondary Education Identification (OPE ID) number is assigned by the U.S. Department of Education to identify schools that have Program Participation Agreements (PPA) so that its students are eligible to participate in Federal Student Financial Assistance programs under Title IV regulations

In [5]:
df

,OPE ID,School,City,State,Zip Code,School Type,Loan Type,Recipients,# of Loans Originated,$ of Loans Originated,# of Disbursements,$ of Disbursements
0,1051,UNIVERSITY OF ALABAMA,TUSCALOOSA,AL,35487.0,Public,Subsidized,7594,7622,33040862,7622,16774054
1,1052,UNIVERSITY OF ALABAMA AT BIRMINGHAM,BIRMINGHAM,AL,35294.0,Public,Subsidized,4272,4352,18590061,4352,9058344
2,1009,AUBURN UNIVERSITY,AUBURN,AL,36849.0,Public,Subsidized,4504,4504,19474542,4535,10142490
3,1057,UNIVERSITY OF SOUTH ALABAMA,MOBILE,AL,36688.0,Public,Subsidized,3438,3487,15061071,3487,7557853
4,1047,TROY UNIVERSITY,TROY,AL,36082.0,Public,Subsidized,4334,4355,18467508,4355,7395839
...,...,...,...,...,...,...,...,...,...,...,...,...
42735,42377,REGIONAL CENTER FOR BORDER HEALTH,SOMERTON,AZ,85350.0,Private-Nonprofit,Total,40,40,68672,80,68672
42736,40293,TRENDSETTERS OF FL. SCHOOL OF BEAUTY & BARBERING,JACKSONVILLE,FL,32205.0,Proprietary,Total,40,40,51012,80,51012
42737,4666,AMERICAN COLLEGE FOR MEDICAL CAREERS,ORLANDO,FL,32809.0,Proprietary,Total,20,20,9000,20,4504
42738,42932,PROFESSIONAL COSMETOLOGY ACADEMY (THE),LAREDO,TX,78041.0,Proprietary,Total,8,8,23336,8,11664
42739,42185,INNOVATE SALON ACADEMY,SOUTH PLAINFIELD,NJ,7080.0,Proprietary,Total,40,40,40008,80,40008

In [7]:
import pandas as pd
df = pd.read_excel('/Users/ultimate/codeup-data-science/pet_projects/texas_taxes_all_property_taxes.xlsx')
df

,Tax Year,Economic Region,County,Name,Tax Type,Total Taxes ($),Market Value ($),Total Tax Rate (%),Voter-Approval Tax Rate (%),No-New-Revenue Tax Rate (%)
0,2017,Upper East,Anderson,Athens,SD,60701.0,6.875155e+06,1.436470,1.461503,1.367257
1,2017,Upper East,Anderson,Cayuga,SD,2854797.0,5.054704e+08,1.040000,1.040100,0.957200
2,2017,Upper East,Anderson,Elkhart,City,105339.0,3.568276e+07,0.302400,0.379600,0.302400
3,2017,Upper East,Anderson,Elkhart,SD,3672193.0,4.797815e+08,1.360000,1.326700,1.248190
4,2017,Upper East,Anderson,Frankston,City,234813.0,7.224267e+07,0.373890,0.394560,0.365340
...,...,...,...,...,...,...,...,...,...,...
14533,2021,South,Zavala,Crystal City,City,1082697.0,1.787179e+08,0.781594,0.772366,0.735729
14534,2021,South,Zavala,Crystal City,SD,11649080.0,1.726293e+09,1.304880,1.339420,1.523868
14535,2021,South,Zavala,La Pryor,SD,2889403.0,6.464175e+08,1.029060,1.029060,0.888866
14536,2021,South,Zavala,Uvalde,SD,1180428.0,4.931390e+08,1.162536,1.162536,1.222479
14537,2021,South,Zavala,NaN,County,9577560.0,2.865771e+09,0.720000,0.719059,0.777759